body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.img-circle, .img-circle img {
  border-radius: 50%;
}

.has-text-centered {
  text-align: center;
}

.is-centered {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
